/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* My Code */

@font-face {
  src: url(./fonts/Prompt-Medium.ttf);
  font-family: Prompt-Medium;
}

* {
  font-family: Prompt-Medium;
  box-sizing: border-box;
}

/* VerifyDriver */

.verify-driver {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verify-driver .verify-driver-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(240, 245, 251, 0.6);
  width: 60%;
  height: 100vh;
}

.verify-driver-form .main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.verify-driver-form .main-form form {
  width: 330px;
}

.verify-driver-form .main-form h5 {
  text-align: center;
  color: #0e0e0e;
  font-size: 28px;
  letter-spacing: 1px;
  padding: 15px 0;
}

.verify-driver-form .main-form form {
  margin-top: 15px;
}

.verify-driver-form .main-form form .image-preview {
  width: 100%;
  height: fit-content;
  border: 1px solid #777;
  border-radius: 5px;
  margin-bottom: 10px;
}

.verify-driver-form .main-form form .image-preview img {
  width: 100%;
  height: 200px;
}

.image-input {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.image-input p {
  color: #333;
  font-size: 16px;
  padding: 10px 0;
}

.image-input input {
  border: 1px solid #777;
  border-radius: 3px;
  padding-top: 5px;
  padding-left: 10px;
  height: 38px;
  width: 100%;
}

.verify-driver-form .main-form form button {
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 330px;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  background-color: #33abda;
  color: #f2f2f2;
  font-size: 16px;
}

@media only screen and (max-width: 700px) {
  .verify-driver .user-login-side-banner {
    background-image: none;
  }

  .verify-driver {
    flex-direction: column;
  }

  .verify-driver .user-login-side-banner {
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 100px;
  }

  .verify-driver .driver-login-form {
    width: 100%;
  }

  .verify-driver .user-login-side-banner img:nth-child(1) {
    width: 150px;
  }

  .verify-driver .user-login-side-banner img:nth-child(2) {
    display: none;
  }

  .verify-driver .user-login-side-banner p {
    display: none;
  }

  .verify-driver .verify-driver-form {
    width: 100%;
  }

  .verify-driver-form .main-form {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .verify-driver-form .main-form {
    padding-left: 20px;
    padding-right: 20px;
  }

  .verify-driver-form .main-form form {
    width: 100%;
  }

  .verify-driver-form .main-form form button {
    width: 100%;
  }
}
